/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"); */

.perfil {
    text-align: center;
    padding-left: 25px;
    padding-top: 25px;
}

.perfil img {
    width: 100px;
    border-radius: 50%;
}

.perfil-figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-header-2 {
    background-image: url("/public/images/template/fondo-cantv.jpg");
    background-size: cover;
    color: #fff;
}

.modal-footer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

nav ul li {
    border-bottom: 1px solid #1e1e1e;
}

nav ul a {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: table;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

nav ul ul {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    counter-reset: items;
}

nav ul ul li {
    counter-increment: items;
}

nav ul li:hover ul {
    transition: 0.5s;
    height: calc(var(--cantidad-items) * var(--cada-item));
}

nav ul ul a {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

body {
    transition: 0.5s;
}

main {
    margin-top: 8vh !important;
    margin-left: 10vw;
    margin-right: 10vw;
}

header {
    display: flex;
    flex-direction: row;
    background: #0032a1;
}

.header-button {
    flex-grow: 10;
    transition: 0.5s;
    justify-content: space-between;
    height: 80px;
    display: flex;
    align-items: flex-end;
    top: 0;
    z-index: 200;
    align-items: center;
    padding-right: 1vw;
    padding-bottom: 0.75vw;
    padding-top: 0.75vw;
    border-radius: 0px 10px 10px 0px;
}

.header-button-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logoRepublica {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 300px;
    right: 20px;
}

.header-button-logos-cantv {
    flex-grow: 10;
    display: flex;
    justify-content: flex-end;
}

header>.conteiner {
    margin-right: 1svw;
}

.img {
    width: 150px;
}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.lista {
    transition: 0.5s;
}

.ocultar {
    opacity: 0;
}

.mostar {
    opacity: 1;
}

.menu__side {
    width: 0px;
    height: 100%;
    background-image: url("/images/template/fondo-cantv.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}


/*Ocultar scroll para chrome, safari y opera*/

.menu__side::-webkit-scrollbar {
    display: none;
}


/*Ocultar scroll para IE, Edge y Firefox*/

.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: 0.5s;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: "";
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}


/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 240px;
}

.menu__side_move {
    width: 250px;
}

@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }
    .menu__side_move {
        width: 80px;
        left: 10px;
    }
}